# Mainnet SUI wallet
# AWS_ACCESS_KEY_ID=
# AWS_REGION=
# AWS_SECRET_ACCESS_KEY=
# MNEMONIC_TYPE=MNEMONIC
# SUI_NETWORK=https://fullnode.mainnet.sui.io:443


# Testnet SUI wallet
# MNEMONICS=MNEMONIC
SUI_NETWORK=https://fullnode.testnet.sui.io # or https://fullnode.devnet.sui.io # or https://fullnode.mainnet.sui.io 
testnet. 